.git
.github
.venv
.dlt
.pytest_cache
__pycache__
*.pyc
*.duckdb
*.tfstate
*.tfstate.*
*.gz
*.zip
.env
.env.*
gcp.json
.gcp.json
data
tests
infra/terraform
infra/grafana
infra/prometheus
infra/helm
docker-compose.yml
README.md
criteria.md
